/* *{

} */
body{
    font-family: 'Poppins', sans-serif;
}
.title{
    text-align: center;
}
.container{
    display: grid;
    justify-items: center;
    gap: 30px;
    /* max-width: m-content; */
}
.line{
    display: flex;
    gap: 30px;
}
.btnNum{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
}
.closeBtn{
    pointer-events: none;
}