/* *{

} */
body{
    font-family: 'Poppins', sans-serif;
}
.game{
} 
.title{
    text-align: center;
}
.playingField{
    display: grid;
    justify-items: center;
    gap: 30px;
}
.line{
    display: flex;
    gap: 30px;
}
.btnNum{
    display: flex;
    font-size: 200%;
    font-weight:bold;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    /* transition: 0.5s linear; */
    text-decoration: none;
}
.btnBegin{
    /* display: inline-grid; */
    background-color:green;
    color: white;
    /* margin-bottom: 100 px; */
    /* margin-left: 46.6%;
    margin-right: 50%; */
    min-width: max-content;
    margin: 6px;
    padding: 6px;
    border-radius: 6px;
    /* align-items: center;
    justify-content: center; */
} 
.closeBtn{
    pointer-events: none;
}
.completeCard{
    pointer-events: none;
    display: flex;
    font-size: 0;
    background-image: url(img/galochka1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.formBegin{ 
    display: grid;
    justify-items: center;

}
.close{
    display: none;
}
.btnEnd{
    color:white;
    width: 200px;
    height: 40px;
    background-color:rgb(255, 45, 45);
    min-width: max-content;
    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.btnEnd:active {
    background-color: rgb(221, 42, 42)
}

.btnEnd:hover {
    background-color: rgb(253, 125, 125)
}